body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f8f9;
    color: #333;
}

header {
    background-color: #00a19d;
    padding: 60px 20px;
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

p.lead {
    font-size: 1.25rem;
}

